{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}
  <div class="container">
    <h2 class="my-4 text-center">Ro'yxatdan o'tish</h2>

    <form method="post">
      {% csrf_token %}
    
      <div class="form-group mb-3">
        <label for="{{ form.passport_series.id_for_label }}" class="form-label">
          {{ form.passport_series.label }}
        </label>
        {{ form.passport_series|add_class:"form-control" }}
        {% if form.passport_series.errors %}
          <div class="text-danger">
            {{ form.passport_series.errors|striptags }}
          </div>
        {% endif %}
      </div>
    
      {# Остальные поля формы #}
      {% for field in form %}
        {% if field.name != 'passport_series' %}
          <div class="form-group mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
              <div class="text-danger">
                {{ field.errors|striptags }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    
      <button type="submit" class="btn btn-primary btn-block">Ro'yxatdan o'tish</button>
    </form>
    

    <p class="text-center mt-3">
      Hisob allaqachon mavjud? 
      <a href="{% url 'login' %}">Kirish</a>
    </p>
  </div>
{% endblock %}
